@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply bg-slate-900 text-blue-300 border-blue-300;
}

/* CSS HEX */
--oxford-blue: #0f172dff;
--oxford-blue-2: #111d2eff;
--gunmetal: #2b323bff;
--raw-umber: #9b6846ff;
--beaver: #af988aff;

/* CSS HSL */
--oxford-blue: hsla(224, 50%, 12%, 1);
--oxford-blue-2: hsla(215, 46%, 12%, 1);
--gunmetal: hsla(214, 16%, 20%, 1);
--raw-umber: hsla(24, 38%, 44%, 1);
--beaver: hsla(23, 19%, 61%, 1);

/* SCSS HEX */
$oxford-blue: #0f172dff;
$oxford-blue-2: #111d2eff;
$gunmetal: #2b323bff;
$raw-umber: #9b6846ff;
$beaver: #af988aff;

/* SCSS HSL */
$oxford-blue: hsla(224, 50%, 12%, 1);
$oxford-blue-2: hsla(215, 46%, 12%, 1);
$gunmetal: hsla(214, 16%, 20%, 1);
$raw-umber: hsla(24, 38%, 44%, 1);
$beaver: hsla(23, 19%, 61%, 1);

/* SCSS RGB */
$oxford-blue: rgba(15, 23, 45, 1);
$oxford-blue-2: rgba(17, 29, 46, 1);
$gunmetal: rgba(43, 50, 59, 1);
$raw-umber: rgba(155, 104, 70, 1);
$beaver: rgba(175, 152, 138, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f172dff, #111d2eff, #2b323bff, #9b6846ff, #af988aff);
$gradient-right: linear-gradient(90deg, #0f172dff, #111d2eff, #2b323bff, #9b6846ff, #af988aff);
$gradient-bottom: linear-gradient(180deg, #0f172dff, #111d2eff, #2b323bff, #9b6846ff, #af988aff);
$gradient-left: linear-gradient(270deg, #0f172dff, #111d2eff, #2b323bff, #9b6846ff, #af988aff);
$gradient-top-right: linear-gradient(45deg, #0f172dff, #111d2eff, #2b323bff, #9b6846ff, #af988aff);
$gradient-bottom-right: linear-gradient(135deg, #0f172dff, #111d2eff, #2b323bff, #9b6846ff, #af988aff);
$gradient-top-left: linear-gradient(225deg, #0f172dff, #111d2eff, #2b323bff, #9b6846ff, #af988aff);
$gradient-bottom-left: linear-gradient(315deg, #0f172dff, #111d2eff, #2b323bff, #9b6846ff, #af988aff);
$gradient-radial: radial-gradient(#0f172dff, #111d2eff, #2b323bff, #9b6846ff, #af988aff);