.left-slide-enter-active {
    transition: all 0.3s ease-out;
}

.left-slide-leave-active {
    transition: all 0.3s ease-in;
}

.left-slide-enter-from,
.left-slide-leave-to {
    transform: translateX(100%);
    opacity: 0;
}